* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.menu-open {
  transition: 1s;
  position: absolute;
  top: 65px;
  left: 0;
  width: 300px;
  z-index: 1;
}

.menu-close {
  position: absolute;
  transition: 1s;
  top: 65px;
  width: 300px;
  left: -300px;
  z-index: 1;
}

.parentBoxLayout {
  border-radius: 10px;
  background-color: #ffffffb4;
  padding: 50px 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}

.childrenBoxLayout1 {
  margin-bottom: 40px;
}

.medium-font {
  font-size: 20px;
}
.large-font {
  font-size: 25px;
}
.txt-gray {
  color: rgb(77, 77, 77);
}

.background-image {
  background-image: url("/chaitanya_mahaprabhu.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

/* Desktop */
/* @media screen and (min-width: 800px) {
  .desktop {
    background-color: red;
  }
} */

/* Mobile */
@media screen and (max-width: 800px) {
  .parentBoxLayout {
    border-radius: 5px;
    background-color: #ffffffb4;
    padding: 25px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin: 2px;
    transform: translate(-50%, -50%);
  }

  .childrenBoxLayout1 {
    margin-bottom: 20px;
    text-align: center;
  }

  .medium-font {
    font-size: 16px;
  }

  .large-font {
    font-size: 20px;
  }
  .menu-close,
  .menu-open {
    top: 57px;
  }
}
